{% extends 'base.html.twig' %}

{% block title %}Add a new contact{% endblock %}

{% block stylesheets %}
    {{ parent() }}

<style>
    .img-thumbnail{
        max-width: 200px;
    }
.homePageBlock {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  font-size:20px;
}

.homePageBlockText {
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  font-size:16px;
  margin-top:20px;
}

</style>

{% endblock %}

{% block body %}
<div class="homePageBlock">welcome to Address Book</div>
<div class="homePageBlockText">Access to your contacts - everywhere</div>
{% endblock %}

