{% extends 'base.html.twig' %}

{% block title %}Add a new contact{% endblock %}

{% block stylesheets %}
    {{ parent() }}

<style>
    .img-thumbnail{
        max-width: 200px;
    }

</style>

{% endblock %}

{% block body %}
<div class="homePageBlock">welcome to Address Book</div>
{% endblock %}

