<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>Create or Update Address:</h1>

{{ form_start(form) }}

<table>
  <tbody>
    <tr>
      <th>Firstname:</th>
      <td>{{ form_widget(form.firstname) }}</td>
    </tr>
    <tr>
      <th></th>
      <td>{{ form_widget(form.save) }}</td>
    </tr>
  </tbody>
</table>

{{ form_end(form) }}