<style>
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
</style>

<h1>All addresses</h1>

{% if addresses is not empty %}
<table>
  <thead>
    <tr>
      <th>firstname</th>
      <th>Delete</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
  {% for addresse in addresses %}
  <tr>
    <td>{{ addresse.firstname }}</td>
    <td><a href="delete-article/{{ addresse.id }}">Delete</a></td>
    <td><a href="update-article/{{ addresse.id }}">Update</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p>No addresse found.</p>
{% endif %}

<br/>
<a href="/address/add">Create New</a>